.primCont{
    background-color: rgb(180, 4, 33);
}

.header{
    font-size: 4em;
    text-align: center;
    color: white;
    padding-top: 1em;
    text-shadow: 4px 4px black;
    text-decoration: underline;
}

.customer, .numP, .tot{
    color: white;
    padding: 1em;
}

.details{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em;
    font-size: 18px;
}

.pic{
    height: 3.5em;
    border: 3px solid;
    border-color:black;
}

.add/remove{
    width: 3em;
    border-color: 1px black;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    column-width: 10em;
    border: 2px solid;
    border-collapse: collapse;
    border-color: 3px black;
    text-align: center;
    height: 3em;
    color: white;
    font-size: 19px;
}
.payBtn{
    background-color: white;
    border-color: 1px black;
    padding: 0.5em;
    width: 4em;
}

.details{
    display: flex; 
}

.listPizzas{
    padding-bottom: 3em;
}